body {
  background-color: beige;
}
.container {
  display: flex;
  /* flex-wrap: wrap;
  align-items: flex-start; align containers to the top */
}
.all_containers {
  /* flex: 1; */
  margin: 10px;
  padding: 20px;
  border: 1px solid black;
  text-align: center;
}
.container_1 {
  flex-basis: 50%;
}
.container_2 {
  flex-basis: 30%;
}
.container_3 {
  flex-basis: 20%;
}
.dropdown {
  align-items: justify;
  text-align: justify;
  display: inline-block;
  width: 100%;
  position: relative;
}
.Dropdown_content {
  /* text-align: justify; */
  /* display: none; */
  position: relative;
  z-index: 1;
  background-color: beige;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px darkblue;
  padding: 12px 16px;
  border-radius: 5px;
}
div details label {
  text-align: justify;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}
div details input {
  /* text-align: right; */
  align-items: justify;
}

/* .dropdown:hover .Dropdown_content {
  display: block;
} */
/* .image {
  width: 200px;
  height: 200px;
} */
.left {
  align-items: right;
  size-adjust: auto;
  flex-basis: 50%;
  /* flex-grow: auto; */
  align-self: flex-start;
}
.right {
  flex-basis: 50%;
  flex-direction: row;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: space-between; space out the containers */
}
.right .container {
  flex-basis: 48%; /*will adjust the size of boxes to fit in the container*/
}

summary {
  color: rgb(144, 23, 237);
  font-size: 20px;
  font-weight: bold;
}
.css_code {
  text-align: justify;
}
/* .css-output {
  align-items: center;
} */
/* div pre .css-read { */
/* width: 200px; adjust the width of the input box
  height: 30px; adjust the height of the input box */
/* border: 1px solid purple;
  padding-right: 50px;
  color: azure;
  background-color: rgb(47, 47, 45);
  align-items: left; */
/* line-height: 5px; */
/* margin-bottom: 20px; */
/* text-align: center; */
/* } */

/* this feature helps to add accessiblity using key board arrow  */
input[type="range"] {
  writing-mode: bt-lr;
}

.title {
  /* font-family: Arial, Helvetica, sans-serif;

  /* position: fixed; */
  margin: 0px;
  width: 100%;
  background-color: #333333;
  color: beige;
  padding: 10px;
  text-align: center;
}

.img-border {
  border: 2px solid purple;
  display: inline-block;
  /* border-left-width: 10px; */
  /* border-width: 10px 10px; */
}
