/*#######################################*/
/*           Selector effects            */
/*######################################*/

body {
  background-color: beige;
}

div details label {
  padding: 15px;
  text-align: justify;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

summary {
  color: rgb(144, 23, 237);
  font-size: 20px;
  font-weight: bold;
}

input[type="range"] {
  /* this feature helps to add accessiblity using key board arrow  */
  writing-mode: bt-lr;
}

/*######################################*/
/*           Class effects              */
/*######################################*/
.container {
  display: flex;
}
.all_containers {
  /* flex: 1; */
  margin: 10px;
  padding: 20px;
  border: 1px solid black;
  text-align: center;
}
.container_1 {
  flex-basis: 50%;
}
.container_2 {
  flex-basis: 30%;
}
.container_3 {
  flex-basis: 20%;
}
.dropdown {
  align-items: justify;
  text-align: justify;
  display: inline-block;
  width: 100%;
  position: relative;
}
.Dropdown_content {
  position: relative;
  z-index: 1;
  background-color: beige;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px darkblue;
  padding: 12px 16px;
  border-radius: 5px;
}

.left {
  align-items: right;
  size-adjust: auto;
  flex-basis: 50%;
  align-self: flex-start;
}
.right {
  flex-basis: 50%;
  flex-direction: row;
}
.right .container {
  /*will adjust the size of boxes to fit in the container*/
  flex-basis: 48%;
}

.title {
  /* font-family: Arial, Helvetica, sans-serif;

  /* position: fixed; */
  margin: 0px;
  width: 100%;
  background-color: #333333;
  color: beige;
  padding: 10px;
  text-align: center;
}

.img-border {
  border: 2px solid rgb(144, 23, 237);
  display: inline-block;
}

.all_containers.Container_3.right {
  text-align: left;
}
.code_display_box {
  color: rgb(4, 4, 0);
  margin: 5px;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px darkblue;
}

/*#######################################*/
/*           id Effects                  */
/*######################################*/
#code_title {
  text-align: center;
}
